.header {
}

.header > .container {
  background: url("../images/paperBg.png") no-repeat center;
  background-size: contain;
  height: 600px;
}

.header > .container > div {
  width: 100%;
}

.header form {
  display: block;
  margin: 0 auto;
  padding: 30px 0 30px 0;
  width: 450px;
  height: 590px;
  text-align: center;
  background: url("../images/copyBookBg.png") no-repeat center;
  background-size: 100%;
}

.header form span {
  display: block;
  font: 400 14px Roboto;
  text-align: center;
  color: #b3b3b3;
  padding: 20px 0 15px;
}

.header form select {
  width: 280px;
  border: 1px solid #ebebeb;
  font: 400 14px Roboto;
  color: #1f1f1f;
  padding: 15px 5px;
}

.keyCalculate {
  width: 280px;
  padding: 15px 0;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  font: 400 18px Roboto;
  text-transform: uppercase;
  background-color: #28a2ef;
  color: #fff;
  cursor: pointer;
}

.keyCalculate:hover {
  opacity: .9;
}

.inputPage {
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin: 0 auto;
}

.inputPage div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font: 600 26px sans-serif;
  background-color: #d4d4d4;
  color: #fff;
}

.inputPage div:hover {
  opacity: .9;
}

.inputPage input {
  padding: 15px 0px;
  width: 180px;
  text-align: center;
  font: 400 14px Roboto;
  color: #1f1f1f;
  border: 1px solid #d4d4d4;
}

.inputDeadline {
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  margin: 0 auto;
}

.inputDeadline div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #d4d4d4;
  color: #fff;
}

.inputDeadline div img {
  width: 50%;
}

.inputDeadline div:hover {
  opacity: .9;
}

.inputDeadline input {
  padding: 15px 0px;
  width: 230px;
  text-align: center;
  font: 400 14px Roboto;
  color: #1f1f1f;
  border: 1px solid #d4d4d4;
}

.totalPrice b {
  font: 400 45px Roboto;
}

.getYour > .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.getYour > .container > div {
  width: 33%;
  float: left;
  box-sizing: border-box;
  padding: 0 20px;
}

.sectorGetYour1 .cardsGetYour {
  float: left;
  margin: 80px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.sectorGetYour1 .cardsGetYour > div {
  float: left;
  width: 255px;
  padding-right: 20px;
  box-sizing: border-box;
}

.sectorGetYour1 .cardsGetYour {
  float: left;
}

.sectorGetYour1 .cardsGetYour h3 {
  padding-bottom: 20px;
  font: 400 20px Roboto;
  text-transform: uppercase;
  text-align: right;
}

.sectorGetYour1 .textGetYor {
  font: 400 14px Roboto;
  text-align: right;
}

.sectorGetYour1 .cardsGetYour img {
  float: right;
}

.sectorGetYour1 .cardsGetYour span {
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  display: block;
  float: left;
}

.cardGetYour1 {
  background-image: url("../images/getYourIcon1.png");
}

.cardGetYour2 {
  background-image: url("../images/getYourIcon2.png");
}

.cardGetYour3 {
  background-image: url("../images/getYourIcon3.png");
}

.cardGetYour4 {
  background-image: url("../images/getYourIcon4.png");
}

.sectorGetYour3 .cardsGetYour {
  float: left;
  margin: 80px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.sectorGetYour3 .cardsGetYour > div {
  float: left;
  width: 255px;
  margin-left: 20px;
  box-sizing: border-box;
}

.sectorGetYour3 .cardsGetYour {
  float: left;
}

.sectorGetYour3 .cardsGetYour h3 {
  font: 400 20px Roboto;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: left;
}

.sectorGetYour3 .textGetYor {
  font: 400 14px Roboto;
  text-align: left;
}

.sectorGetYour3 .cardsGetYour img {
  float: right;
}

.sectorGetYour3 .cardsGetYour span {
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  display: block;
  float: left;
}

.sectorGetYour2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.getYourTitle {
  display: block;
  font: 400 36px Roboto;
  text-align: center;
  color: #adacac;
}

.help {
  padding: 70px 0;
}

.help h2 {
  text-align: center;
  padding-bottom: 30px;
  font: 400 36px Roboto;
  color: #4b4c4c;
}

.textHelp {
  width: 60%;
  margin: 0 auto;
  padding: 40px 40px;
  border-radius: 10px;
  box-sizing: border-box;
  font: 400 20px Roboto;
  text-align: center;
  color: #fff;
  background-color: #28a2ef;
}

.content > .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.cardsContent {
  width: 575px;
  max-width: 50%;
  min-height: 391px;
  padding:43px;
  margin: 40px 0px;
  box-sizing: border-box;
  float: left;
  background-image: url("../images/paperPage.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cardsContent h2 {
  padding-bottom: 20px;
  font: 400 24px Roboto;
  color: #000;
}

.cardsContent button {
  margin-top: 50px;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  font: 400 21px Roboto;
  text-transform: uppercase;
  color: #fff;
  background-color: #6bcdff;
  cursor: pointer;
}

.cardsContent button:hover {
  opacity: .8;
}

.textCardContent {
  max-width: 90%;
  font: 400 18px Roboto;
}

.recall {
  padding: 40px 0;
}

.cardsRecall {
  width: 33%;
  box-sizing: border-box;
  padding: 0 20px;
  float: left;
  text-align: center;
}

.avatarRecall {
  width: 175px;
  height: 175px;
  display: inline-block;
  border-radius: 100%;
  background-color: #ececec;
}

.cardRecall1 .avatarRecall {
  background: url("../images/photoRecall1.png") no-repeat center;
  background-size: cover;
}

.cardRecall2 .avatarRecall {
  background: url("../images/photoRecall2.png") no-repeat center;
  background-size: cover;
}

.cardRecall3 .avatarRecall {
  background: url("../images/photoRecall3.png") no-repeat center;
  background-size: cover;
}

.cardsRecall h4 {
  padding:35px 0 15px;
  font: 400 21px Roboto;
  text-transform: uppercase;
}

.cardsRecall .textRecallCard {
  font: 400 17px Roboto;
  color: #8e8e8e;
}

.recall h1 {
  font: 400 50px Roboto;
  text-align: center;
  color: #6f6f6f;
}

.recall h3 {
  font: 400 21px Roboto;
  padding: 10px 0;
  text-align: center;
  color: #6bcdff;
}
@media screen and (max-width: 1200px) and (min-width: 992px )
{
  .sectorGetYour2 
  {
    width: 33% !important;
  }
  .getYourTitle
  {
    font-size: 32px;
  }
  .sectorGetYour3 .cardsGetYour > div,.sectorGetYour1 .cardsGetYour > div
  {
    width: 100%;
  }
  .sectorGetYour3 .cardsGetYour span ,  .sectorGetYour1 .cardsGetYour span
  {
    display: none;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px )
{
  .sectorGetYour2 
  {
    width: 33% !important;
  }
  .getYourTitle
  {
    font-size: 32px;
  }
  .sectorGetYour3 .cardsGetYour > div,.sectorGetYour1 .cardsGetYour > div
  {
    width: 100%;
  }
  .sectorGetYour3 .cardsGetYour span ,  .sectorGetYour1 .cardsGetYour span
  {
    display: none;
  }
  .cardsContent
  {
    width: 90%;
    max-width: 600px;
  }
}
@media screen and (max-width: 768px)
{
  .sectorGetYour2 
  {
    width: 100% !important;
  }
  .footer
  {
    padding-top: 50px;
  }
  .calculate
  {
    max-width: 100%;
  }
  .header form select 
  {
    padding:7px 3px;
    max-width: 90%;
  }
  .inputPage div
  {
    height: 30px;
    width: 30px;
  }
  .inputPage input
  {
    padding:0;
    width: 217px;
  }
  .inputDeadline input
  {
    padding: 0;
    width: 247px;
  }
  .inputDeadline div
  {
    width: 30px;
    height: 30px;
  }
  .header form span
  {
    padding: 10px 5px;
  }
  .header form
  {
    padding-top: 160px;
  }
   .getYour > .container > div
  {
    width: 100%;
  }
  .getYour > .container
  {
    display: block;
  }
  .sectorGetYour1 .cardsGetYour ,.sectorGetYour3 .cardsGetYour
  {
    display: block;
    width: 100%;
    margin: 30px auto;
  }
  .sectorGetYour1 .cardsGetYour span ,  .sectorGetYour3 .cardsGetYour span
  {
    display: none;
  }
  .sectorGetYour1 .cardsGetYour h3 , .sectorGetYour3 .cardsGetYour h3
  {
    font-size: 26px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .sectorGetYour1 .textGetYor ,.sectorGetYour3 .textGetYor
  {
    font-size: 18px;
    text-align: center;
  }
  .sectorGetYour1 .cardsGetYour > div ,.sectorGetYour3 .cardsGetYour > div
  {
    width: 100%;
  }
  .getYour
  {
    padding-top: 200px;
  }
  .getYourTitle
  {
    width: 100%;
    margin: 40px auto;
  }
  .textHelp
  {
    width: 100%;
    padding: 2% 3%;
  }
  .cardsContent
  {
    width: 90%;
    min-width: 300;
    max-width: 100%;
    background-image: none;
    background-color: rgb(255,255,248);
    box-shadow: 0 0 25px rgba(0,0,0,.2)
  }
  .recall h1
  {
    font-size: 30px;
  }
  .recall h3
  {
    font-size: 18px;
  }
  .help h2
  {
    font-size: 30px;
  }
  .sectorGetYour3 .cardsGetYour > div
  {
    margin-left: 0;
  }
}
@media screen and (max-width: 670px)
{
  .cardsRecall
  {
    width: 100%;
    margin-top: 20px;
  }
  .readMore
  {
    font-size: 18px;
  }
}
@media screen and (max-width: 375px)
{
  .header form
  {
    padding-top: 30px;
    margin-top: 30px;
    height: initial;
    background-image: none;
    background-color: rgba(255,255,255,.8);
    box-shadow:  0 0 4px rgba(0,0,0,.3);
  }
   .getYour
  {
    padding-top: 0px;
  }
}