@font-face {
  font-family: Roboto;
  src: url("../fonts/RobotoRegular.ttf");
}
@font-face {
  font-family: anja-eliane;
  src: url("../fonts/anja-eliane.ttf");
}

*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.section {
  clear: both;
  float: left;
  width: 100%;
}

.container {
  width: 1190px;
  margin: 0 auto;
}
/*top-panel*/
.logoSite {
  width: 265px;
  float: left;
  font: 400 48px anja-eliane;
  text-transform: uppercase;
  line-height: 0.8;
  color: #6bcdff;
}

.topNav {
  padding: 20px 0 0 0;
  box-sizing: border-box;
}

.navMenu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 700px;
}

.navMenu a {
  font: 400 18px Roboto;
  text-transform: uppercase;
  text-decoration: none;
  color: #28a2ef;
  padding: 5px 20px;
}

.navMenu a:hover {
  border-radius: 5px;
  background-color: #6bcdff;
  color: #fff;
}

.loginMenu {
  display: block;
  float: right;
}

.loginMenu a {
  font: 400 14px Roboto;
  text-transform: uppercase;
  text-decoration: none;
  color: #4ba5dd;
  padding: 0 20px;
}

.loginMenu .keyLogin {
  border-right: 1px solid #4ba5dd;
}
/*footer*/
.navFooter {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer {
  padding-top: 100px;
}

.footerMenu a {
  padding: 5px 20px;
  font: 700 18px Roboto;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #28a2ef;
}

.socialLinkFooter {
  padding: 40px 0 20px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.socialLinkFooter a {
  text-decoration: none;
  float: left;
  margin: 0 7px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
}
#burgerMenu
{
  width: 33px;
  height: 33px;
  top: 6px;
  right: 6px;
  cursor: pointer;
  display: none;
  position: absolute;
}
#burgerMenu[data-visaby="false"] .middleSpan
{
  visibility: hidden;
}
#burgerMenu[data-visaby="false"] .topSpan
{
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#burgerMenu[data-visaby="false"] span
{
  position: absolute;
  background-color: grey;
  width: 90%;
  height: 3px;
  border-radius: 1px;
  display: block;
  margin: 7px auto;
}
#burgerMenu[data-visaby="false"] .bottomSpan
{
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-duration: .2s ;
  -moz-transition-duration: .2s ;
  -o-transition-duration: .2s ;
  -ms-transition-duration: .2s ;
  transition-duration: .2s ;
}
#burgerMenu span
{
  background-color: grey;
  width: 90%;
  height: 3px;
  border-radius: 1px;
  display: block;
  margin: 7px auto;
}
@media screen and (max-width: 1200px) and (min-width: 992px )
{
  .container
  {
    width:100%;
    padding:0 10px 0 10px;
    box-sizing: border-box;
  }
  .loginMenu 
  {
    margin-top: 50px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px )
{
  .container
  {
    width:100%;
    padding:0 10px 0 10px;
    box-sizing: border-box;
  }
  .navMenu
  {
    position: fixed;
    width: 100%;
    padding: 10px 0 10px;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,.8);
  }
  .navMenu a
  {
    padding-top: 2px;
    margin-top: 1px;
  }
  .logoSite
  {
    margin-top: 30px;
    width: 180px;
    font-size: 32px;
  }
  .loginMenu
  {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px)
{
  .container
  {
    width:100%;
    padding:0 10px 0 10px;
    box-sizing: border-box;
  }
  .navMenu
  {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .navMenu nav
  {
    width: 100%;
  }
  .navMenu a
  {
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    padding: 10px 0 10px;
    border-bottom: 1px solid #6bcdff;
    display: none;
  }
  #burgerMenu
  {
      display: block;
      float: right;
      right: 5px;
      top:5px;
  }
  .footerMenu nav
  {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .loginMenu
  {
    margin-top: 30px;
  }
}